body {
  min-height: 100vh;
}

.layout{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh !important;
}

.layoutContent {
  width: 80%;
  height: 100% !important;
  display: block !important;
  flex: 1;
}

.form-control {
  border: none  !important;
  width: 100%;
  padding: 6px 12px !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #d9dadc !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.btn-lazyfy{
  border: none;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff !important;
  background-color: #8b1b2e;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  text-decoration: none !important;
}

.footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  width: 100%;

}
.lazyForms a{
  color: #1db954 !important;
  text-decoration: none !important;
}
.myItemList{
  padding: 8px 0px;
}
.myItemList a{
  color: #000;
}
.btn-lazyfy{
  border: none;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff !important;
  background-color: #8b1b2e;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  text-decoration: none !important;
}
.navbar-brand{
  padding: 8px 15px !important;
}
.navbar {
    border-radius: 0px !important;
}
